* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: black;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    height: 60px;
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.head-container .head-brand {
    font-weight: bold;
    font-size: 1.3rem;
}

.head-container .head-brand a:hover{
    color: aqua;
    cursor: pointer;
}

.head-container .head-manga {
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    width: 100%;
    position: relative;
}

.adsection {
    width: 100%;
    height: 490px;
    background-image: url("https://www.ilovepc.co.kr/news/photo/202006/34930_69152_719.jpg");
    z-index: 1;
    background-size: cover;
    background-position: center 10%;
    background-repeat: none;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    opacity: 0.8;
    z-index: 2;
    margin-top: 60px;
}

.title-container {
    padding: 100rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.message {
    font-size: 1.4rem;
    line-height: 2rem;
}

.genre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.genre {
    width: 15%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 12px 12px 2px 1px rgba(25, 42, 70, 0.2);
}

.genre-icon {
    font-size: 2.5rem;
    margin: 0 5px;
}

.genre-title {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.manga-container {
    width: 100%;
    margin-top: 2rem;
}

.manga-title-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.manga-title {
    font-size: 1.3rem;
}

.arrow-container {
    display: flex;
}

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
}

.slide-next {
    font-size: 2rem;
    cursor: pointer;
}

.class-list {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: hidden;
}

.class-card {
    width: 300px;
    height: 430px;
    box-shadow: 12px 12px 2px 1px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    padding: 5px 5px 5px 5px;
    background-color: bisque;
}

.class-list-thumb {
    margin-left: 65px;
    width: 180px;
    height: 240px;
    border-radius: 8px 8px 0 0;
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manga-genre {
    font-size: 0.9rem;
    color: gray;
}

.manga-tag {
    font-size: 0.9rem;
    color: yellow;
    background-color: blue;
}

.manga-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manga-desc {
    width: 100%;
    margin-top: 0.5rem;
}

@media only screen and (min-width: 1200px){
    .inner {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 980px){
    .genre {
        display: none;
    }
}